<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Password Generator</title>
  </head>
  <body>
    <div class="container text-center">
      <h1>Password Generator</h1>

      <form action="{% url 'password' %}">
        <div class="form-group">
          <label for="formControlRange" id="labelForRange"
            >Example Range input</label
          >
          <input
            type="range"
            class="form-control-range"
            id="formControlRange"
            name="length"
            min="8"
            max="20"
            style="width: 200px; margin: 0 auto;"
          />
        </div>
        <br />
        Uppercase<input type="checkbox" name="uppercase" />
        <br />
        Numbers<input type="checkbox" name="numbers" />
        <br />
        Special Characters<input type="checkbox" name="special" />
        <br />
        <input type="submit" value="Generate Password" />
      </form>

      <a href="{% url 'about' %}">Click here to read more!</a>
    </div>
  </body>
  <script>
    let lengthValue = document.getElementById("formControlRange");
    let textValue = document.getElementById("labelForRange");
    textValue.innerHTML = "Length of Password: " + lengthValue.value;
    lengthValue.onchange = () => {
      textValue.innerHTML = "Length of Password: " + lengthValue.value;
    };
  </script>
</html>
